<!DOCTYPE html>
<html lang="en">
<img src="MTN Center/Downloads">
<head>Welcome to Mtn Center</head><div></div>
 <body> This is an mtn Center, Please enter your personal information
          PLease enter your first name<div></div>
         PLease enter your surname<div></div>
          PLease enter your date of birth<div></div>
        PLease enter your residential address<div></div>
      PLease enter your Nationality<div></div>
        PLease enter your National identification number<div></div>

 </body>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>